<section class="callback">
  <div class="callback-section">
    <img src="../img/callback-img.jpg" alt="man with laptop" />

    <div class="callback-section-form">
      <h2 class="callback-title">Request Callback</h2>
      <form class="form">
        <div class="form-input">
          <label for="user-name" class="form-label">Name</label>
          <div class="form-fild-wrap">
            <input
              type="text"
              class="form-input"
              name="user-name"
              required
              minlength="2"
              id="user-name"
              placeholder="Enter your name"
            />
          </div>
          <div class="form-input">
            <label for="user-name" class="form-label">email</label>
            <div class="form-fild-wrap">
              <input
                type="text"
                class="form-input"
                name="user-name"
                required
                minlength="2"
                id="user-name"
                placeholder="Enter your email"
              />
            </div>
          </div>
        </div>
        <button type="submit" class="send-btn hero-btn">Send</button>
      </form>
    </div>
  </div>
</section>
