<section class="cases">
    <p class="cases-subtitle">This is what we do</p>
    <h class="cases title">Business Cases</h>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    <ul class="cases-list">
        <li class="cases-item"><img src="" alt=""></li>
        <li class="cases-item"><img src="" alt=""></li>
        <li class="cases-item"><img src="" alt=""></li>
        <li class="cases-item"><img src="" alt=""></li>
        <li class="cases-item"><img src="" alt=""></li>
        <li class="cases-item"><img src="" alt=""></li>
        <li class="cases-item"><img src="" alt=""></li>
        <li class="cases-item"><img src="" alt=""></li>
    </ul>
</section>