<header class="header">
  <img src="./img/javascript.svg" alt="javascript" />
  <nav class="header-nav">
    <a class="logo header-logo" href="./index.html"
      ><span>Finance</span> Ledger</a
    >
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" href="./index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Cases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Contact</a>
      </li>
    </ul>
  </nav>
</header>
