<section class="team">
  <p class="team-sub-title">Who we are</p>
  <h2 class="team-title">Our Professional Team</h2>
  <p class="team-title-desc">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>

  <ul class="team-list">
    <li class="team-list-item">
      <img
        class="teammate-img"
        src="../img/teammate-1.jpg"
        alt="president of the company"
        width="420"
        height="280"
      />
      <div class="label-container">
        <p class="teammate">John Doe</p>
        <p class="teammate-position">President</p>
      </div>
    </li>
    <li class="team-list-item">
      <img
        class="teammate-img"
        src="../img/teammate-2.jpg"
        alt="vice president of the company"
        width="420"
        height="280"
      />
      <div class="label-container">
        <p class="teammate">Jane Doe</p>
        <p class="teammate-position">Vice President</p>
      </div>
    </li>
    <li class="team-list-item">
      <img
        class="teammate-img"
        src="../img/teammate-3.jpg"
        alt="head of marketing in our company"
        width="420"
        height="280"
      />
      <div class="label-container">
        <p class="teammate">Steve Smith</p>
        <p class="teammate-position">Marketing Head</p>
      </div>
    </li>
  </ul>
</section>
