:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.body {
  /* width: 320px; */
  margin: 0px;
}

.section-about {
  background-color: #FFFFFF;
  width: 320px;
  height: 684px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* < !---------MOBILE-----------> */

.container {
  padding-top: 30px;
  padding-bottom: 31px;
  padding-left: 51px;
  padding-right: 49px;
}

.icon-university {
  display: flex;
  justify-content: center;
  margin-bottom: 11px;
}

.icon-book {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background: #28a745;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-icon {
  fill: #FFFFFF;
}

.text-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 166%;
  text-align: center;
  color: #333;
  margin-bottom: 16px;
  margin-top: 0px;
}

.container-paragraph {
  display: flex;
  justify-content: center;
  width: 220px;
  height: 77px;
  margin-bottom: 17px;
}

.text-description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #333;

}

.container-paragraph:last-child {
  margin-bottom: 0px;
}

/* --------SECTION ABOUT (solutions)-------- */

.section-solutions {
  width: 320px;
}

.solutions-image {
  width: 320px;
  height: 220px;
  background-image: url(../img/people-about-mob1x.jpg);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 2dppx),
screen and (min-resolution: 192dpi) {
  .solutions-image {
    background-image: url(../img/people-about-mob2x.jpg);

  }
}

.solutions-text {
  display: flex;
  flex-direction: column;
  background: #28a745;
  padding: 30px;
}

.intro-text {
  display: flex;
  font-family: "Open Sans",
    sans-serif;
  margin: 0px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 166%;
  color: #fff;
  max-width: 215px;
}

.text-title-people {
  display: flex;
  font-family: "Open Sans",
    sans-serif;
  margin: 0px;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 38px;
  line-height: 126%;
  color: #fff;
  max-width: 204px;
}

.intro-text-title {
  display: flex;
  height: 205px;
  margin: 0px;
  font-family: "Open Sans",
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 14px;

}

.container-btn {
  display: flex;
  justify-content: flex-start;
}

.review-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  background: #28a745;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 158px;
  height: 47px;
  cursor: pointer;


}